.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
test/dummy_rails4/db/*.sqlite3
test/dummy_rails4/log/*.log
test/dummy_rails4/tmp/
test/dummy_rails4/.sass-cache
Gemfile.lock
