<!DOCTYPE html>
<html>
<head>
  <title>A4nt</title>
  <%= stylesheet_link_tag    "a4nt/application", :media => "all" %>
  <%= javascript_include_tag "a4nt/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
